@layer components {
  .__btn--base {
    @apply flex flex-nowrap border border-transparent items-center justify-center shrink-0 text-sm font-medium rounded p-2.5 transition-colors ease-in-out focus:outline-none focus:ring;
    svg {
      @apply h-5 w-5 p-0.375;
    }
    .content-spacer {
      @apply flex items-center justify-center gap-x-1 px-1;
      span {
        @apply px-0.5;
      }
    }
  }

  .btn--md {
    @apply __btn--base;
  }

  .btn--lg {
    @apply __btn--base text-base;
    .content-spacer {
      @apply px-1.5 gap-x-1.5;
    }
  }

  .btn--xl {
    @apply __btn--base text-base p-3;
    .content-spacer {
      @apply px-2 gap-x-2.5;
    }
  }

  .btn--2xl {
    @apply __btn--base text-lg p-4;
    svg {
      @apply h-6 w-6 p-0.5;
    }
    .content-spacer {
      @apply px-2.5 gap-x-3.5;
    }
  }

  .btn--primary {
    @apply text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-indigo-200
    focus:bg-indigo-800 disabled:pointer-events-none disabled:text-neutral-400
    disabled:bg-neutral-100;
  }

  .btn--secondary {
    @apply text-neutral-900 bg-white border border-neutral-200 shadow
    hover:bg-neutral-50 focus:ring-indigo-200 focus:bg-neutral-50
    disabled:border-none disabled:shadow-none disabled:pointer-events-none
    disabled:text-neutral-400 disabled:bg-neutral-100;
  }

  .btn--tertiary {
    @apply text-indigo-700 bg-white hover:bg-neutral-50 focus:ring-indigo-200
    focus:bg-neutral-50 disabled:pointer-events-none disabled:text-neutral-400
    disabled:bg-white;
  }

  .btn--destructive {
    @apply text-white bg-red-600 hover:bg-red-700 focus:ring-red-200
    focus:bg-red-700 disabled:pointer-events-none disabled:text-neutral-400
    disabled:bg-white;
  }
}
